extends ../template/template.pug
include ../components/topnav.pug

block body
    +topnav()
    .viewer
        h1.title= stray.name
        img(src=stray.image)
        p Description:
        h1.desc= stray.desc
        h3= 'Age: ' + stray.age
        h3= 'Category: ' + stray.category
        h3= 'Contact Information: ' + stray.contact

append head
    link(rel="stylesheet" href="/styles/viewer.css")
    link(rel='stylesheet' type="text/css" href='/styles/topnav.css')
    meta(property='og:title' content=stray.name)